/* container */
.contact-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* left */
.left-column {
    width: 50%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.image-text-container {
    width: 45%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-text-container img {
    width: 100%; 
    height: auto;
}

.image-text-container p {
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* right */
.right-column {
    width: 50%;
    text-align: center;
}

.image-container {
    width: 80%;
    margin: auto;
}

.image-container img {
    width: 100%;
}

/* link */
.link {
    display: block;
    margin-top: 20px;
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
