form {
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 20px;
}

form input,
form textarea {
    margin-top: 5px;
    padding: 10px;
}

form button {
    margin-top: 20px;
}


